/* @charset "UTF-08";
\
/* 
*
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

/* Você pode definir a fonte padrão para todo o texto da página, ajustando a tipografia: */
body {
    background-image: url();
    background-size: cover;
    background-color: #000000;
}
main {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #000000ee;
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    align-items: center;
    justify-content: center;

}
/* Modificar o titulo */
h1 {
    font-size: 1.9em;
    color: #f8e800bb;

}

canvas {
    background-color: rgba(2, 11, 146, 0.903);
    align-items: center;
    border: 5px solid #fffafa;


    background-image: url(../assents/miles.jpg);
    background-size: cover;
    /* Para cobrir toda a área */
    background-position: center;
    /* Para centralizar a imagem */

}
/* é aplicar um estilo visual específico */
.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    color: hsl(0, 0%, 100%);

}
/*  É utilizado para definir estilos visuais (como cor, fonte, tamanho, margens, etc.)  */
.score--value {
    font-weight: 700;
    font-size: 4.5rem;
    display: block;
    margin-top: -10px;
}
/* É classe usada para um menu que ocupa toda a tela (ou uma grande parte dela) */
.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
/*  Modificar o enunciado que aparece apos perde o a rodada ( Jogo ) */
.game-over {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 3rem;
    color: #ffe600;
}

.final-score {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000f3;
}
/*   Estilizar esse botão para que ele tenha uma aparência visual apropriada. */
.btn-play {
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
/* Você pode definir uma série de propriedades CSS para controlar a aparência do rodapé */
footer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #696969a1;
    color: #ffffff;
    min-width: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    padding: 15px;
    


}

/*
*
*/ 
